<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>썸밑 엔지니어링 Summit</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="/css/styles.css?v=<%= Date.now() %>">
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/scripts.js"></script> 
</head>
<body>
  
  <header id="header">
    <div class="logo">
      <a href="/"><img src="/assets/img/Logo_blue.png" alt="Summit Logo" style="height:50px;"></a>
    </div>
    <nav>
      <ul>
        <!-- <li><a href="/">메인</li> -->
        <li><a href="/business">비즈니스</a></li>
        <li><a href="/history">연혁</a></li>
        <li><a href="/team">팀 소개</a></li>
        <li><a href="/contact">견적문의</a></li>
      </ul>
    </nav>
  </header>
