  <%- include('header.ejs') %>
  
    <section id="history" class="section light">
    <div class="container">
      <h2 class="section-title">연혁</h2>
      <div class="history-image">
        <img src="/assets/img/history.png" alt="연혁 이미지">
      </div>
    </div>
  </section>

  <%- include('footer.ejs') %>
